<?php

/*

This file is part of tourrobot - https://github.com/jpralves/tourrobot

tourrobot is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License.

tourrobot is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with tourrobot.  If not, see <http://www.gnu.org/licenses/>.

*/

// For accessing in Read-Write Mode
$usernameRW = "userrw";
$passwordRW = "somepass";

// For accessing in Read-Only Mode
$usernameRO = "userro";
$passwordRO = "otherpass";

// Define Database Server
$database_server = "localhost";
// Define Database Name
$database_name = "tourrobot";

// Define SiteKey - You can change it - must match setting in NXTController.
$sitekey = '6dfc79cd4fc6c1bc53cda7845d8167a7';

?>
