<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.jpralves.nxt"
    android:installLocation="auto"
    android:versionCode="1558"
    android:versionName="1.0.1558" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE"/> -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.bluetooth" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" />
    <uses-feature android:name="android.hardware.sensor.compass" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" />
    <uses-feature android:name="android.hardware.sensor.barometer" />
    <uses-feature android:name="android.hardware.sensor.gyroscope" />
    <uses-feature android:name="android.hardware.sensor.light" />
    <uses-feature android:name="android.hardware.location" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:name=".NXTControllerApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/MyAppTheme" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:configChanges="locale" 
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustResize|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NXTControllerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="locale" >
        </activity>
        <activity
            android:name=".PreferencesActivity"
            android:label="@string/title_activity_preferences"
            android:screenOrientation="portrait"
            android:configChanges="locale" >
        </activity>
        <activity
            android:name=".DiagnosticsActivity"
            android:label="@string/title_activity_diagnostics"
            android:screenOrientation="portrait"
            android:configChanges="locale" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait"
            android:configChanges="locale" >
        </activity>
        <activity
            android:name=".FSBrowserActivity"
            android:label="@string/title_activity_fsbrowser"
            android:screenOrientation="portrait" 
            android:configChanges="locale">
        </activity>

        <service
            android:name=".SensorService"
            android:enabled="true"
            android:configChanges="locale" >
        </service>
    </application>

</manifest>